#badr_syndication_metabox {
	line-height: 2em;
}

#syndi_notice { padding-left:5px; font-size:0.9em; color:red;}

#badr_syndication_metabox .syndication-icon:before {
	top: 5px;
}

input.syndication {
	margin-top: 1px;
}

label.syndication-icon {
	margin-left: 0px;
	padding: 2px 0 2px 0px;
}

.syndication-icon:before {
color: #ddd;
-webkit-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
	position: relative;
	display: inline-block;
	margin-right: 7px;
	font: normal 20px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.syndication-icon.syndication-on:before{content: "\f103";}
.syndication-icon.syndication-off:before{content: "\f225";}
