/* refresh icon */

.wrap { font-family: dotum, '돋움';}
.wrap h3 {font-family: gulim, '굴림체'; font-size: 16px; font-weight:800}
.postbox .inside {padding-bottom:0; margin-bottom:0 !important}
.form-table th span {font-weight: 700; padding-left: 10px}
.form-table .even { background-color : #f6f6f6;}
.form-table td p, .form-table label {font-size: 13px;line-height: 1.5; margin: 0.5em 0;}
.inside .message {background-color:#f6f6f6; padding:3px; font-weight: 700;}
.inside p.message {padding:10px 15px;}
.inside p.syndication_ajax { padding: 0 5px 10px 0 }